body{
    width: 90vw;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    justify-content: center;
}


.row>.col-4{
    
    z-index: 1;
    background-color: black;
    text-align: justify;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 0;
    }

    label[for='tag']{
        display: block;
        font-size: 20px;
        font-family:  'Syne', serif;
        color: rgb(253, 253, 194);
        padding-top: 50px;
        text-align: right;
    }
   label[for='head']{
        font-family: 'DM Serif Display', 'Syne', serif;
        font-size: 100px;
        color: white;
    }  
    .row>*{
        padding: 0;
    margin: 0;
    border: 0;
    }
    .col-8>*{
        margin: 0;
        border: 0;
        padding: 0;
        border-radius: 0;
    }
    .col-4>*{
        margin: 0;
        border: 0;
        padding: 0;
    }